
.fifthAnimation svg .svg-elem-368 {
    stroke-dashoffset: 252.44757080078125px;
    stroke-dasharray: 252.44757080078125px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

.fifthAnimation svg.active .svg-elem-368 {
    stroke-dashoffset: 0;
}

.fifthAnimation svg .svg-elem-369 {
    stroke-dashoffset: 387.83001708984375px;
    stroke-dasharray: 387.83001708984375px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-369 {
    stroke-dashoffset: 0;
    fill: rgb(255, 85, 85);
}

.fifthAnimation svg .svg-elem-370 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4s;
}

.fifthAnimation svg.active .svg-elem-370 {
    stroke-dashoffset: 0;
    fill: rgb(58, 208, 230);
}

.fifthAnimation svg .svg-elem-371 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-371 {
    stroke-dashoffset: 0;
}

.fifthAnimation svg .svg-elem-372 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-372 {
    stroke-dashoffset: 0;
    fill: rgb(255, 85, 85);
}

.fifthAnimation svg .svg-elem-373 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 31.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-373 {
    stroke-dashoffset: 0;
}

.fifthAnimation svg .svg-elem-374 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
        fill 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

.fifthAnimation svg.active .svg-elem-374 {
    stroke-dashoffset: 0;
    fill: rgb(255, 85, 85);
}

.fifthAnimation svg .svg-elem-375 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-375 {
    stroke-dashoffset: 0;
}

.fifthAnimation svg .svg-elem-376 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-376 {
    stroke-dashoffset: 0;
    fill: rgb(58, 208, 230);
}

.fifthAnimation svg .svg-elem-377 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-377 {
    stroke-dashoffset: 0;
}

.fifthAnimation svg .svg-elem-378 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-378 {
    stroke-dashoffset: 0;
    fill: rgb(58, 208, 230);
}

.fifthAnimation svg .svg-elem-379 {
    stroke-dashoffset: 39.69911184307752px;
    stroke-dasharray: 39.69911184307752px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-379 {
    stroke-dashoffset: 0;
}

.fifthAnimation svg .svg-elem-380 {
    stroke-dashoffset: 167.70321655273438px;
    stroke-dasharray: 167.70321655273438px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-380 {
    stroke-dashoffset: 0;
    fill: rgb(58, 208, 230);
}

.fifthAnimation svg .svg-elem-381 {
    stroke-dashoffset: 167.7029571533203px;
    stroke-dasharray: 167.7029571533203px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-381 {
    stroke-dashoffset: 0;
    fill: rgb(255, 85, 85);
}

.fifthAnimation svg .svg-elem-382 {
    stroke-dashoffset: 144.13401794433594px;
    stroke-dasharray: 144.13401794433594px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-382 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}

.fifthAnimation svg .svg-elem-383 {
    stroke-dashoffset: 172.8935089111328px;
    stroke-dasharray: 172.8935089111328px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-383 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}

.fifthAnimation svg .svg-elem-384 {
    stroke-dashoffset: 876px;
    stroke-dasharray: 876px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

.fifthAnimation svg.active .svg-elem-384 {
    stroke-dashoffset: 0;
    fill: rgb(255, 255, 255);
}