.thirdAnimation svg .svg-elem-192 {
    stroke-dashoffset: 58.548667764616276px;
    stroke-dasharray: 58.548667764616276px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    ;
}

.thirdAnimation svg .svg-elem-192 {
    fill: rgb(216, 1, 1);
}

.thirdAnimation svg .svg-elem-193 {
    stroke-dashoffset: 58.548667764616276px;
    stroke-dasharray: 58.548667764616276px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg.active .svg-elem-193 {
    stroke-dashoffset: 0;
}

.thirdAnimation svg .svg-elem-194 {
    stroke-dashoffset: 241.30145263671875px;
    stroke-dasharray: 241.30145263671875px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg.active .svg-elem-194 {
    stroke-dashoffset: 0;
}

.thirdAnimation svg .svg-elem-195 {
    stroke-dashoffset: 58.548667764616276px;
    stroke-dasharray: 58.548667764616276px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg .svg-elem-195 {
    fill: rgb(216, 1, 1);
}

.thirdAnimation svg .svg-elem-196 {
    stroke-dashoffset: 58.548667764616276px;
    stroke-dasharray: 58.548667764616276px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg.active .svg-elem-196 {
    stroke-dashoffset: 0;
}

.thirdAnimation svg .svg-elem-197 {
    stroke-dashoffset: 58.548667764616276px;
    stroke-dasharray: 58.548667764616276px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg .svg-elem-197 {
    fill: rgb(216, 1, 1);
}

.thirdAnimation svg .svg-elem-198 {
    stroke-dashoffset: 58.548667764616276px;
    stroke-dasharray: 58.548667764616276px;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 0.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg.active .svg-elem-198 {
    stroke-dashoffset: 0;
}

.thirdAnimation svg .svg-elem-199 {
    stroke-dashoffset: 241.30145263671875px;
    stroke-dasharray: 241.30145263671875px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg.active .svg-elem-199 {
    stroke-dashoffset: 0;
}

.thirdAnimation svg .svg-elem-200 {
    stroke-dashoffset: 241.30145263671875px;
    stroke-dasharray: 241.30145263671875px;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}

.thirdAnimation svg.active .svg-elem-200 {
    stroke-dashoffset: 0;
}

.thirdAnimation svg .svg-elem-201 {
    stroke-dashoffset: 1264px;
    stroke-dasharray: 1264px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
    transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 1s,
        fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.5s;
}